* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;  
    font-size: 28px;  
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #292525;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #1e1818;
    gap: 20px;
    font-size: 28px;
}

.display {
    height: 200px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #fe5900;
    padding: 20px;
    border-radius: 20px;
    cursor: default;
}

.input-field {
    border: none;
    background-color: transparent;
    font-size: 28px;
    text-align: right;
    color: white;
    font-weight: 600;
    width: 100%;
}

.input-field:focus {
    border: none;
    background-color: transparent;
    outline: none;
}

.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calbtn {
    width: calc((100% - 3*20px)/4);
    aspect-ratio: 1.3/1;
    border-radius: 10px;
    border: none;
    background-color: #3a2f2f;
    color: white;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
}

.oper {
    color: #fe5900;
}

.btn-equal {
    background-color: #fe5900;
    color: white;
}

.calbtn:hover {
    background-color: #514242;
}

.btn-equal:hover {
    background-color: #fc762e;
}

.calbtn:active {
    background-color: #292222;
}

.btn-equal:active {
    background-color: #fe2a00;
}

.save-list-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.1);
}

.save-list {
    padding: 20px;
    background-color: #362b2b;
    border-radius: 20px;
    color: white;
    position: relative;
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 20px;
}

.box:last-child {
    margin-bottom: 0;
}

.box > p {
    align-self: center;
}

.val {
    font-size: 16px;
    align-self: center;
    background-color: #1e1818;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-align: right;
    border: 1px solid white;
    border-radius: 5px;
}

.li-btn {
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.del-cache {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
}

footer {
    background-color: #1e1818;
    color: white;
    font-weight: 100;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}